@import "utils/var", "utils/mixins";

@import "base/reset", "base/typography", "base/base";

@import "layout/header", "layout/main", "layout/footer";

@import "section/about", "section/team", "section/partners", "section/contact";
