extends ./_layout

block main
    .container
        .wrapper.total
            a(href="").group
                h3 총 수량
                .amount 
                    input(type="text" value="2423053847293847" hidden)
                    .integer
                    .dot .
                    small
            a(href="").group
                h3 총 수익
                .amount
                    input(type="text" value="108809556789028" hidden)
                    .integer
                    .dot .
                    small
        .desk
            .wrapper.current
                a(href="").group
                    h3 현재 사이클
                    .date
                        .year 2020
                        span 년
                        .month 7
                        span 월
                        .day 30
                        span 일
                        br
                        .hour 16
                        span 시
                        .minute 00
                        span 분
                a(href="").group
                    h3 예상 수익
                    .amount 
                        input(type="text" value="2423053847293847" hidden)
                        .integer
                        .dot .
                        small
            .wrapper.next
                a(href="").group
                    h3 다음 사이클
                    .date
                        .year 2020
                        span 년
                        .month 7
                        span 월
                        .day 30
                        span 일
                        br
                        .hour 16
                        span 시
                        .minute 00
                        span 분
                a(href="").group
                    h3 예상 수익
                    .amount
                        input(type="text" value="287184408902338" hidden)
                        .integer
                        .dot .
                        small
        .wrapper.package
            a(href="")
                nav
                    h3.one.active $1000
                    h3.three $3000
                .box.one.active
                    .group.flex
                        h3 원금
                        .amount
                            input(type="text" value="536874566089" hidden)
                            .integer
                            .dot .
                            small
                    .group.flex
                        h3 지금
                        .amount
                            input(type="text" value="536874566089" hidden)
                            .integer
                            .dot .
                            small
                .box.three
                    .group.flex
                        h3 원금
                        .amount
                            input(type="text" value="889933993399" hidden)
                            .integer
                            .dot .
                            small
                    .group.flex
                        h3 지금
                        .amount
                            input(type="text" value="889933993399" hidden)
                            .integer
                            .dot .
                            small
