extends ./_layout

block main
    .container
        .wrapper.current
            a(href="").group
                h3 스테이킹 시작 시점
                .date
                    | 2020
                    span 년
                    | 7
                    span 월
                    | 30
                    span 일
                    br
                    | 16
                    span 시
                    | 00
                    span 분
            .group
                h3 스테이킹 들어간 총 수량
                .amount
                    .integer 2345678
                    .dot .
                    small 8976
            .group
                h3 스테이킹 채굴된 총 수량
                .amount
                    .integer 5678
                    .dot .
                    small 2979
        .wrapper.next
            .group
                h3 다음 스테이킹 시작 시점
                .date
                    | 2020
                    span 년
                    | 7
                    span 월
                    | 30
                    span 일
                    br
                    | 16
                    span 시
                    | 00
                    span 분
            .group
                h3 다음 스테이킹 채굴 시점
                .date
                    | 2020
                    span 년
                    | 7
                    span 월
                    | 30
                    span 일
                    br
                    | 16
                    span 시
                    | 00
                    span 분
            .group
                h3 다음 스테이킹 에상 수익
                .amount
                    .integer 8878
                    .dot .
                    small 5679