extends ./_layout

block main
    .container
        nav.global-nav
            .global-nav-links
                a.global-nav-item(href='#') MAKE YOUR FREE
        nav.local-nav
            .local-nav-links
                a.product-name(href='#') KILO
                a(href='#') about
                a(href='#') team
                a(href='#') partners
                a(href='#') contact
        section#scroll-section-0.scroll-section
            h1 KILO
            .sticky-elem.main-message.a
                p 개인들이 모여 만들어가는 다른 세상
            .sticky-elem.main-message.b
                p 개인이 모여 창조하는 새로운 세상
            .sticky-elem.main-message.c
                p 개인이 함께 창조해가는 또 다른 세상
            .sticky-elem.main-message.d
                p 앞으로 다가올 시대의 대안
            .sticky-elem.main-message.e
                p 개개인이 만들어가는 자유로운 세상
            .sticky-elem.main-message.f
                p 자유로운 세상을 보호하는 중심
            .sticky-elem.main-message.g
                p 자유로운 세상을 보호하는 기둥

        section#scroll-section-1.scroll-section
            p.description
                strong KILO
                | 는 자유를 창조하는 회사입니다.
                | 개인의 자유를 파괴한 바로 그 자본주의를 이용해 블록체인 네트워크와 자유를 보존합니다.
                | 기업들이 자유로운 세상을 만들어갈 수 있도록 돕는 B2B 서비스를 제공합니다.

        section#scroll-section-2.scroll-section 
            .sticky-elem.main-message
                p
                    small team
                    | 하나 되다
            .sticky-elem.desc-message
                p 
                    strong CEO
                    | 김동범 
                .pin
            .sticky-elem.desc-message
                p 
                    strong CEO
                    | 김동범 
                .pin
                
        section#scroll-section-3.scroll-section
            p.mid-message
                strong 타이틀 영역
                br
                | Lorem ipsum dolor sit amet 
                br
                | Lorem ipsum dolor sit amet 
            p.canvas-caption Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam cum consequuntur laborum eaque distinctio debitis dolore, maxime quis veniam earum est, non veritatis aperiam iste magnam eum fugit delectus a?
        
        footer.footer 2020, KILO