extends ./_layout

block main
    .container
        .wrapper.current
            a(href="").group
                h3 스테이킹 시작 시점
                .date
                    .year 2020
                    span 년
                    .month 7
                    span 월
                    .day 30
                    span 일
                    br
                    .hour 16
                    span 시
                    .minute 00
                    span 분
            a(href="").group
                h3 스테이킹 들어간 총 수량
                .amount 
                    input(type="text" value="2423053847293847" hidden)
                    .integer
                    .dot .
                    small
            a(href="").group
                h3 스테이킹 채굴된 총 수량
                .amount
                    input(type="text" value="108809556789028" hidden)
                    .integer
                    .dot .
                    small
        .wrapper.next
            a(href="").group
                h3 다음 스테이킹 시작 시점
                .date
                    .year 2020
                    span 년
                    .month 7
                    span 월
                    .day 30
                    span 일
                    br
                    .hour 16
                    span 시
                    .minute 00
                    span 분
            a(href="").group
                h3 다음 스테이킹 채굴 시점
                .date
                    .year 2020
                    span 년
                    .month 7
                    span 월
                    .day 30
                    span 일
                    br
                    .hour 16
                    span 시
                    .minute 00
                    span 분
            a(href="").group
                h3 다음 스테이킹 예상 수익
                .amount
                    input(type="text" value="287184408902338" hidden)
                    .integer
                    .dot .
                    small