header {
  padding: 16px;

  .wrap {
    max-width: $maxWidth + px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
    }

    $space: 10;
    h2 {
      position: relative;
      margin-right: $space + px;
      font-size: 1.5rem;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-45%);
        display: block;
        width: 1px;
        height: 50%;
        margin-right: -$space + px;
      }
    }
    span {
      font-size: 1.05em;
      margin-left: $space + px;
    }
  }

  .color-change {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    cursor: pointer;

    &.brightness {
      background-image: url("https://icongr.am/material/brightness-7.svg?size=24&color=ffd32a");
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    }
    &.darkness {
      background-image: url("https://icongr.am/material/brightness-3.svg?size=24&color=f1f2f6");
      box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.36);
    }
  }
}
