body {
  transition: 0.15s;

  &.brightness {
    header,
    main,
    footer {
      background-color: rgba(255, 255, 255, 1);
      color: rgba(29, 31, 31, 1);
    }
  }
  &.darkness {
    header,
    main,
    footer {
      background-color: rgba(47, 53, 66, 1);
      color: rgba(255, 255, 255, 1);
    }
  }
}

main {
  position: relative;
  // min-height: 100vh;
  padding: 50px 16px 70px;
}

.container {
  overflow-x: hidden;
  max-width: 1000px;
  margin: 0 auto;
  border: 3px dotted red;
}
