body {
  header,
  main,
  footer {
    transition: 0.15s;
  }

  &.brightness {
    header,
    main,
    // main *,
    footer {
      background-color: rgba(255, 255, 255, 1);
      color: rgba(29, 31, 31, 1);
    }

    header {
      h2 {
        color: #3f51b5;

        &::after {
          background-color: rgba(47, 53, 66, 0.3);
        }
      }
    }

    .package,
    .current,
    .next {
      &::before {
        background-color: rgba(47, 53, 66, 0.3);
      }
    }
  }
  &.darkness {
    header,
    main,
    // main *,
    footer {
      background-color: rgba(47, 53, 66, 1);
      color: rgba(255, 255, 255, 1);
    }

    header {
      h2 {
        color: #ee5253;

        &::after {
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }

    .package,
    .current,
    .next {
      &::before {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
}

main {
  position: relative;
  padding: 70px 16px 70px;

  a {
    display: block;
    cursor: text;
    -webkit-tap-highlight-color: transparent;
  }
}

.container {
  // overflow-x: hidden;
  max-width: $maxWidth + px;
  margin: 0 auto;

  .wrapper {
    $gap: 90;
    margin-bottom: $gap + px;
    position: relative;

    &.total {
      text-align: center;
    }

    &.package,
    &.current,
    &.next {
      padding-top: $gap + px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 40vw;
        max-width: 300px;
        height: 1px;
      }
    }

    &.next {
      text-align: right;

      .group {
        .date {
          span {
            &:nth-of-type(3) {
              margin-right: 0;
            }
          }
        }
      }
    }

    .group {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      h3 {
        font-size: 1.3rem;
        margin-bottom: 0.35em;
      }

      .date,
      .amount {
        font-size: 2.9rem;
        font-weight: lighter;
      }

      .date {
        .year,
        .month,
        .day,
        .hour,
        .minute {
          display: inline;
        }

        span {
          font-size: 0.35em;
          font-weight: 400;
          display: inline-block;
          margin-left: 0.25em;
          margin-right: 0.6em;
          opacity: 0.88;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .amount {
        // letter-spacing: normal;

        .integer {
          display: inline;
        }

        .dot {
          display: inline;
          margin-left: -0.1em;
          margin-right: 0.1em;
        }

        small {
          font-size: 0.7em;
          opacity: 0.7;
        }
      }
    }

    &.package {
      nav {
        // display: flex;
        text-align: center;

        h3 {
          display: inline-block;
          font-size: 1.8rem;
          letter-spacing: 0.1em;
          margin-right: 2.3em;
          opacity: 0.5;
          cursor: pointer;

          &.three {
            margin-right: 0;
          }

          &.active {
            opacity: 1;
          }

          @media (min-width: 1024px) {
            margin-right: 4em;

            &.three {
              margin-right: 0;
            }
          }
        }
      }

      .box {
        padding-top: 60px;
        display: none;

        &.active {
          display: block;
        }

        .flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 370px;
          margin: 0 auto 50px;

          &:last-child {
            margin-bottom: 0;
          }

          h3 {
            margin-top: 13px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .desk {
    display: flex;
    justify-content: space-between;
  }
}
