body.before-load {
  overflow: hidden;
}

main {
  position: relative;
}

.container {
  overflow-x: hidden;
}

.scroll-section {
  padding-top: 50vh;
  border: 3px solid red;
}

#scroll-section-0 {
  h1 {
    font-size: 4rem;
    text-align: center;
  }
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;

  p {
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
  }

  small {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
  }
}

#scroll-section-2 {
  .b {
    top: 10%;
    left: 40%;
  }
  .c {
    top: 15%;
    left: 45%;
  }
  .main-message {
    font-size: 3.5rem;
  }
}

.desc-message {
  font-weight: bold;
  width: 50%;
  opacity: 0;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: rgb(29, 29, 31);
}

.description {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;

  strong {
    float: left;
    font-size: 3rem;
    color: rgb(29, 29, 31);
    margin-right: 0.2em;
  }
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;

  strong {
    color: rgb(29, 29, 31);
  }
}

.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  color: #888;
  font-size: 1.2rem;
}

.sticky-elem {
  display: none;
  position: fixed;
  // top: 0;
  left: 0;
  width: 100%;
}

#show-scene-0 #scroll-section-0,
#show-scene-1 #scroll-section-1,
#show-scene-2 #scroll-section-2,
#show-scene-3 #scroll-section-3 {
  .sticky-elem {
    display: block;
  }
}

@media (min-width: 1024px) {
  #scroll-section-0 {
    h1 {
      font-size: 9vw;
    }
  }

  .main-message {
    font-size: 4vw;

    small {
      font-size: 1.5vw;
    }
  }

  .description {
    font-size: 2rem;

    strong {
      font-size: 6rem;
    }
  }

  #scroll-section-2 {
    .b {
      top: 20%;
      left: 53%;
    }
    .c {
      left: 55%;
    }
    .main-message {
      font-size: 6vw;
    }
  }

  .desc-message {
    width: 20%;
  }

  .mid-message {
    font-size: 4vw;
  }

  .canvas-caption {
    font-size: 2rem;
  }
}
